[submodule "tools/umurmur-monitor"]
	path = tools/umurmur-monitor
	url = https://github.com/umurmur/umurmur-monitor.git
[submodule "tools/numurmon"]
	path = tools/numurmon
	url = git@github.com:umurmur/numurmon.git
